<!DOCTYPE html>
<html>
  <head>
    <title>Live View | visioninabox</title>
    {% include 'imports.html' %}
  </head>
  <body>
    {% include 'navbar.html' %}

    <div class="columns is-centered">
      <div class="column is-half is-centered">
        <section class="section">
	      <button class="button is-success is-block" id="on">Start processing</button>
	      <button class="button is-danger is-block" id="off">Stop processing</button>
          <img src="/stream">
        </section>
      </div>
    </div>
  </body>
</html>
